    <div class="fourth"><%= @todo_description %><%= @todo_time %></div>
    <div class="second">
    <p><a href="/construction.html"><span class="third">Edit</span></a></p>
    <p><a href="/index.html"><span class="third">Back</span></a></p></div>
    <div class="first"><p>Time to start:<%= @todo_start %></p>
    <p>Time to finish:<%= @todo_end %></p>
    <p>Place to do:<%= @todo_place %></p>
    <p>Description:None</p>
    <p>Related photos:</p>
    <p><img width="200" height="200" src="<%= @todo_photos %>"></p>
    <p>Related videos:</p>
    <p><%= @todo_videos %></p>
    </div>